html{
  height: 100%;
}
body{
  min-height: 100%;
  display: flex;
  align-items: center;
  background-image: url(img/img1.jpg);
  background-size: 100% 100%;
}
.exchange{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  border: 6px solid black;
  border-radius: 10px;
  margin: 0 auto;
  background-color: rgba(181, 181, 181, 1);
  box-shadow: 4px 7px 8px;
}
.USD1{
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
  margin-top: 14px;
}
.EUR1{
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
}
.USD{
  margin-right: 2%;
  font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
}
.EUR{
  margin-right: 2%;
  font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
}
.btn{
  text-align: center;
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  margin-top: 28px;
  margin-bottom: 18px;
  border-radius: 10px;
  box-shadow: 3px 2px 4px;
  background-color: rgba(201, 146, 175, 0.62);
  cursor: pointer;
}
.btn:hover{
  transition: background-color 0.5s;
  background-color: rgba(201, 146, 175, 1);
}
.Mettal{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
}
.Mettal_gold{
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
}
.Mettal_Serebro{
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
}
.Gold{
    margin-right: 2%;
    font-family: 'Playfair Display';
  	font-style: normal;
  	font-weight: 600;
  	font-size: 28px;
}
.Serebro{
  margin-right: 2%;
  font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
}
.kursUSD{
  margin-right: 2%;
  font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
}
.kursEUR{
  margin-right: 2%;
  font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
}
.kurs_Gold{
  margin-right: 2%;
  font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
}
.kurs_Serebro{
  margin-right: 2%;
  font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
}
